template(name="classModuleShow")
  //- a.right(href="{{pathFor 'classShow' id=classId}}") Return to Class
  h3 {{module.name}}

  +slideBar

  .slide
    h4 {{currentSlide.name}}
    article {{{currentSlide.content}}}
