@import "globals"

body
  background-repeat: repeat-x
  font-family: "Open Sans", "sans-serif"

  #main
    padding 20px 40px
    font-size: 17px
    background: white
    border-radius: 10px
    margin: 10px auto
    width: global-width
    min-height: 600px

img 
  vertical-align: top

a 
  text-decoration: none
  cursor: pointer

a:hover 
  text-decoration: none

button, input
  outline none!important

.btn 
  border-radius: 0

i 
  margin-right: 3px

ul
  list-style-type: none