@import "globals"

body
  background-repeat: repeat-x
  font-family: "Open Sans", "sans-serif"

  #main
    padding 0 40px
    font-size: 17px
    background: white
    border-radius: 10px
    margin: 10px auto
    width: global-width
    min-height: 600px

img 
  vertical-align: top

a 
  text-decoration: none
  cursor: pointer

a:hover 
  text-decoration: none

button, input
  outline none!important

.small-button
  border-radius: 0
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;

i 
  margin-right: 3px

ul
  list-style-type: none

h3
  background: #CCC;
  padding: 10px;

  .btn 
    margin-left: 10px