#left-bar
  .module
    i 
      color: #979797
      display: inline-block
      vertical-align: top;
      margin-top: 15px;
    a
      margin-left: 5px
      width: 144px
  nav
    a
      display: inline-block;
      padding: 5px;
      background: #292727;
    a:not(:first-child)
      margin: 10px 0 0 0;
    a.current
      color: white
