#confirm-modal-background 
  position: fixed;
  background: rgba(255, 255, 255, 0.9)
  height: 100%
  width: 100%
  top: 0
  left: 0
  z-index: 99998

#confirm-modal
  position: absolute
  top: 30%
  left: 50%
  z-index: 99999
