#confirm-modal-background 
  position: fixed;
  background: rgba(255, 255, 255, 0.9)
  height: 100%
  width: 100%
  top: 0
  left: 0
  z-index: 99998

#confirm-modal
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 99999;
  width: 300px;
  border: 1px solid black;
  padding: 20px;
  background: white
  h1
    font-size: 20px
    margin: 0 0 20px 0