#aceEditor, #canvas
  width: 49%
  height: 250px
  float: left

#aceEditor 
  margin-right: 2%

#canvas
  border: 1px solid black

.ace_editor 
  font-size: 16px!important

#update-slide
  #ace-editor-html, #ace-editor-css
    position: inline-block
    width: 100%

.editors
  #ace-editor-html, #ace-editor-css
    position: absolute