header
  width 100%
  display inline-block
  background #CCC
  padding 10px 20px

  .logo
    text-decoration none
    color black
    font-size 18px

  .login-buttons
    float right

  .nav-link 
    margin 0 20px
    background #DDD
    padding 10px