.index
  display: inline-block
  width: 100%
  
  .fa-level-up
    margin-right: 5px

  li 
    display: inline-block
    width: 100%

  .row
    margin: 0

  .btn 
    margin-right: 5px

  .name
    float: left
  
  .buttons
    float: right

  

