@import "globals"

body
  background: background-primary url('images/bg.png')
  background-repeat: repeat-x

  #main
    padding 20px 40px
    font-size: 17px
    background: white
    border-radius: 10px
    margin: 10px auto
    width: 960px
    min-height: 600px

button, input
  outline none!important

.btn 
  border-radius: 0