#left-bar 
  background: black
  height: 100%
  display: inline-block
  float: left
  padding: 10px 20px
  color: white
  
  .logo-wrapper
    display: inline-block

  a:hover 
    color: white

  .divider 
    width: 100%
    height: 2px
    background: #CCC
    margin: 20px 0

  #dropdownMenu1, .dropdown-menu
    border-radius: 0
    width: 100%

  #dropdownMenu1
    text-transform: uppercase

  .user-dropdown
    button
      color: black

  .dropdown-menu
    a, a:hover
      color: black

  .current-class
    text-transform: uppercase;