#static-slide
  .slide
    margin: 20px 0

.slide
  background: rgb(66, 65, 65);
  color: white;
  min-height: 400px
  overflow: hidden

  ul.checklist
    font-size: 18px;
    list-style-type: disc!important;
    margin: 0 0 20px 20px;

  img 
    border: 1px solid white
    margin-bottom: 20px
  h4 
    background: #5C5C5C
    padding: 20px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
  article
    padding: 20px
    a 
      color: white
      text-decoration: underline