.slide-bar-wrapper
  display: inline-block
  position: relative;
  .bar
    position: absolute;
    width: 98%;
    height: 20px;
    top: 15px;
    background: #808080;
    left: 5px;
  .bg-circle, .fg-circle
    display: inline-block
    height: 50px
    width: 50px
    background: grey
    border-radius: 50px
    text-align: center
    line-height: 50px
    color: white
    margin-right: 10px
  .fg-circles
    position: absolute
    left: 0
    top: 0
    
.bg-circle:last-child, .fg-circle:last-child
  margin-right: 0

.fg-circle:hover 
  background: #9B9B9B
  cursor: pointer

.fg-circle.current
  background: green