.tabs 
  position: absolute;
  top: -31px;
  left: -10px;
  .tab:hover 
    background: #EEECEC;
  .tab 
    font-size: 14px
    display: inline-block
    padding: 5px 20px
    cursor: pointer
  .tab.active 
    border-left: 1px solid #C0C0C0
    border-right: 1px solid #C0C0C0
    border-top: 1px solid #C0C0C0


