template(name='admin')  
  #admin 
    h1 Admin
    ul
      li
        a(href="/admin/roles") User Roles
      li
        | Classes
        ul
          li 
            a(href="/admin/class/") Index
          li 
            a(href="/admin/class/create") Create