template(name="home")
  h3 Classes
  ul.classes
    each unjoinedClasses
      li 
        .name {{name}}
        if userHasJoinedClass
          .enter.btn.btn-default Enter
          .leave.btn.btn-default Leave
        else
          .join.btn.btn-default Join 

