template(name="classIndex")
  h3 Classes
  ul.classes
    each unjoinedClasses
      li 
        .name {{name}}
        if userHasJoinedClass
          a(href="{{pathFor 'classShow' id=this._id}}", class="show-class btn btn-default btn-sm")
            i.fa.fa-download
            | Enter

          .leave.btn.btn-default.btn-sm 
            i.fa.fa-times
            | Withdraw

        else
          .join.btn.btn-default.btn-sm 
            i.fa.fa-download
            | Enroll

        if createdByMe
          a(href="{{pathFor 'classUpdate' id=this._id}}", class="edit-class btn btn-default btn-sm")
            i.fa.fa-pencil
            | Edit Class

          .delete-class.btn.btn-default.btn-sm 
            i.fa.fa-times
            | Delete Class

  a(href="{{pathFor 'classNew'}}", class="create-class btn btn-default btn-sm")
    i.fa.fa-plus
    | Create Class

