template(name="classNew")
  +autoForm collection="Class" id="classCreateForm" type="insert"
    fieldset
      legend Set up a Class
      +afQuickField name='name'
      +afQuickField name='location'
      +afQuickField name='description' rows=10
      +afFieldInput name='creatorId' type='hidden' value=currentUserId
    
    button.btn.btn-default.create-class(type="submit") Create Class
        