template(name="classShow")
  h3 {{class.name}}  
  article {{{class.description}}}

  if classModules
    h3 Modules
    .boxes
      each classModules
        .box
          h4=moduleName
          .buttons
            a.enter.btn.btn-default.btn-small(href="{{pathFor 'classModuleShow' classId=classId moduleId=moduleId}}") Enter