template(name="classUpdate")
  +autoForm collection="Class" id="classUpdateForm" type="update" doc=editingDoc
    fieldset
      legend Update a Class
      +afQuickField name='name' 
      +afQuickField name='location' 
      +afQuickField name='description' rows=10 class="wysiwyg"
    
    button.btn.btn-default.create-class(type="submit") Update Class
        