template(name="slideUpdate")
  .page-title 
    a(href="{{pathFor 'moduleUpdate' id=this.slide.moduleId}}") {{module.name}}
    i.fa.fa-angle-double-right {{slide.name}}

  section
    +autoForm collection="Slide" id="slideForm" type="update" doc=slide 
      fieldset
        legend Edit Slide 
        +afQuickField name='name'
        +afQuickField name='number'
        +afQuickField name='content' rows=10
        
        .form-group
          label.form-label HTML
          #ace-editor-html.ace-editor

        .form-group
          label.form-label CSS
          #ace-editor-css.ace-editor

      button.btn.btn-default.create-module(type="submit") Update Slide