template(name="aceEditor")
  ul.tabs
    li.active.tab.css CSS
    li.tab.html HTML
  
  .editors
    if $.Session.get "css"
      #ace-editor-css.ace-editor

    if $.Session.get "html"
      #ace-editor-html.ace-editor(style="visibility:hidden")