template(name="header")
  header
    a.logo(href='/')
      img(src="/images/brain.png")
    a.logo.spongie(href='/')
      | SPONGIE
    .login-buttons 
      a.nav-link(href='/sign-up') Register
      a.nav-link(href='/sign-in') Sign In