template(name="header")
  header
    a.logo(href='/') SPONGIE
    
    if showAdminLink
      a.nav-link(href='/admin') Admin
    .login-buttons 
      a.nav-link(href='/sign-up') Sign Up
      a.nav-link(href='/sign-in') Sign In