template(name="header")
  header
    a.logo(href='/')
      img(src="/images/brain.png")
    a.logo.spongie(href='/')
      | SPONGIE
    
    if userSignedIn
      .dropdown.user-dropdown
        button#dropdownMenu1.btn.dropdown-toggle(type='button', data-toggle='dropdown')
          =username
          span.caret
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
          if isAdmin
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/admin') Admin

          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='/sign-out') Sign Out


    else
      .login-buttons 
        a.nav-link(href='/sign-up') Register
        a.nav-link(href='/sign-in') Sign In