template(name="slideBar")
  if slides
    .slide-bar-wrapper
      .bar
      .bg-circles
        each slides
          .bg-circle
      .fg-circles
        each slides
          if $.Session.equals "currentSlideId" _id 
            a.fg-circle.goto-slide.current
              =number
          else
            a.fg-circle.goto-slide
              =number