template(name="moduleShow")
  .page-title 
    a(href="{{pathFor 'classShow' id=classId}}") Class Page
    i.fa.fa-angle-double-right
    {{module.name}}
  

  +slideBar

  if currentSlide.html
    #code-editor
      .slide
        h4 {{currentSlide.name}}
        article {{{currentSlide.content}}}
      .ace-editor-wrapper
        ul.tabs
          li.active.tab.css CSS
          li.tab.html HTML
        
        .editors
          #ace-editor-css.ace-editor
          #ace-editor-html.ace-editor(style="visibility:hidden")

        #ace-editor-output.ace-output.live-canvas
          style(media="screen", type="text/css")
            {{{$.Session.get "css"}}}  
          {{{$.Session.get "html"}}}
  else
    #static-slide
      .slide
        h4 {{currentSlide.name}}
        article {{{currentSlide.content}}}
