template(name="moduleShow")
  //- a.right(href="{{pathFor 'classShow' id=classId}}") Return to Class
  .page-title {{module.name}}

  +slideBar

  if currentSlide.html
    #code-editor
      .slide
        h4 {{currentSlide.name}}
        article {{{currentSlide.content}}}
      .ace-editor-wrapper
        #ace-editor-html.ace-editor
        #ace-editor-output.ace-output {{{currentSlide.html}}}
        //- .yui3-cssreset {{{currentSlide.html}}}
  else
    #static-slide
      .slide
        h4 {{currentSlide.name}}
        article {{{currentSlide.content}}}
