template(name="moduleShow")
  .page-title 
    a(href="{{pathFor 'classShow' id=classId}}") Class Page
    i.fa.fa-angle-double-right
    {{module.name}}
  

  +slideBar

  if currentSlide.html
    #code-editor
      .slide
        h4 {{currentSlide.name}}
        article {{{currentSlide.content}}}
      .ace-editor-wrapper
        +aceEditor
        #ace-editor-output.ace-output {{{$.Session.get "html"}}}
  else
    #static-slide
      .slide
        h4 {{currentSlide.name}}
        article {{{currentSlide.content}}}
