template(name="moduleUpdate")
  +autoForm collection="Module" id="moduleForm" type="update" doc=editingDoc
    fieldset
      legend Update a Module
      +afQuickField name='name'
    
    button.btn.btn-default.create-module(type="submit") Update Module
        