template(name="moduleUpdate")
  section
    +autoForm collection="Module" id="moduleForm" type="update" doc=editingDoc
      fieldset
        legend Edit Module Details
        +afQuickField name='name'

      button.btn.btn-default.create-module(type="submit") Update Details

  section
    fieldset
      legend Edit Module Sections
      
          