template(name="classesIndex")
  h3 Classes 
  table.table
    thead
      tr
        th
        th Name
    tbody
      each classes
        tr
          td
            i.fa.fa-times
          td=name